body:not(.rtl) .elementor-196 .elementor-element.elementor-element-yj3szj0 .elementor-drop-cap {margin-right: 10px;}
body.rtl .elementor-196 .elementor-element.elementor-element-yj3szj0 .elementor-drop-cap {margin-left: 10px;}
.elementor-196 .elementor-element.elementor-element-gd97ttq iframe {height: 558px;}
body:not(.rtl) .elementor-196 .elementor-element.elementor-element-c9qws6c .elementor-drop-cap {margin-right: 10px;}
body.rtl .elementor-196 .elementor-element.elementor-element-c9qws6c .elementor-drop-cap {margin-left: 10px;}
.elementor-196 .elementor-element.elementor-element-mxrahiu {text-align: center;}
.elementor-196 .elementor-element.elementor-element-mxrahiu .elementor-image img {max-width: 100%;opacity: 1;}
body:not(.rtl) .elementor-196 .elementor-element.elementor-element-xcqcmfs .elementor-drop-cap {margin-right: 10px;}
body.rtl .elementor-196 .elementor-element.elementor-element-xcqcmfs .elementor-drop-cap {margin-left: 10px;}
@media (max-width:1024px) {.elementor-196 .elementor-element.elementor-element-mxrahiu {text-align: center;}}
@media (max-width:767px) {.elementor-196 .elementor-element.elementor-element-mxrahiu {text-align: center;}}